---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}

  
  <div class="post-nav">
    {% if page.previous %}
      <p>← Previous: <a class="prev-post" href="{{ page.previous.url }}">{{ page.previous.title }}</a></p>
    {% endif %}
    <br/>
    {% if page.next %}
      <p>→ Next: <a class="next-post" href="{{ page.next.url }}">{{ page.next.title }}</a></p>
    {% endif %}
    <br/>
  </div>

</article>


